<style>
.row1 {
    display: flex;
    flex-direction: row;
}

.item {
    border-right: 0.5px solid #fff;
    border-bottom: 0.5px solid #fff;
    align-items: center;
    justify-content: center;
    padding: 5px 2px;
    minheight: 30px;
    width: 100%;
    word-break: break-word;
    text-align: center;
}

.nameCol {
    width: 100px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    display: flex;
}

.bg1 {
    background-color: #a2d471;
}

.flex1 {
    display: flex;
    flex: 1;
}

.center {
    align-items: center;
    justify-content: center;
}

.bg2 {
    background-color: #ffa071;
}

.bg3 {
    background-color: #fab08b;
}

.bg4 {
    background-color: #c5f5a9;
}
</style>
<template>
    <div class="form-vaccine">
        <div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cập nhật thông tin</h3>
                </div>
                <div class="box-body" style="margin-top: 40px">
                    <div class="form-group col-xs-12">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <Note :data="noteAll" :vaccines="vaccines"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="col-md-12">
                            <a-button type="primary" :loading="saving" @click="savenote"
                            >Lưu lại
                            </a-button
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import Note from "./Note";

export default {
    name: "AddNote",
    components: {
        Note,
    },
    data: function () {
        return {
            saving: false,
            vaccines:
                dataFromServerSide.vaccines
                    ? dataFromServerSide.vaccines
                    : [],
            noteAll: dataFromServerSide.note.note
                ? dataFromServerSide.note.note
                : [],
            afterAdd: 0,
            checkInput: {},
            checkInputVaccineTitle: {},
        };
    },
    created() {
    },
    mounted: function () {
        this.afterAdd= this.noteAll.length + 1;
        this.noteAllData = {...this.noteAll};
    },
    methods: {
        filterOption(input, option) {
            return (
                option.componentOptions.children[0].text
                    .toLowerCase()
                    .indexOf(input.toLowerCase()) >= 0
            );
        },
        focusVaccineTitle(type, index) {
            this.checkInputVaccineTitle = {type, index};
        },
        focusItemCol(type, index, index2, name) {
            this.checkInput = {type, index, index2, name};
        },
        addRow() {
            this.noteAll.splice(this.afterAdd - 1, 0, {
                vaccine_id: "vaccine_id",
                description: "",
            });
            this.afterAdd = this.noteAll.length + 1;
        },
        delRow(index) {
            this.noteAll.splice(index, 1);
            this.afterAdd = this.noteAll.length + 1;
        },
        async savenote() {
            this.saving = true;
            let dataAPI = await this.requestAPIWithoutServer(
                `/api/vaccine_note/save`,
                "POST",
                {
                    note: this.noteAll,
                    sicks: this.sicks,
                }
            );
            this.saving = false;
            Toast.fire({
                icon: "success",
                title: "Lưu ghi chú thành công."
            });
        },
    },
};
</script>
