<template>
    <div style="margin-bottom: 20px">
        <strong style="margin-right: 10px">Hàng {{ index+1 }}: </strong>
        <a-select optionFilterProp="children" @change="showText(note.vaccine_id)" :filterOption="filterOption" showSearch v-model="note.vaccine_id" style="width: 300px" placeholder="Chọn bệnh...">
            <template v-for="pathogen in vaccines">
                <a-select-option :value="pathogen._id">{{ pathogen.name }}</a-select-option>
            </template>
        </a-select>
<!--        <a-input :style="`width: 100px; background-color: ${note.color}`" placeholder="Màu sắc..." :value="note.vaccine_name" />-->
        <a-input :style="`width: 100px; background-color: ${note.color}`" placeholder="Màu sắc..." v-model="note.color" />
        <a-icon type="minus-circle" @click="delRow" style="margin-left: 10px; color: red; font-size: 18px; cursor: pointer" />
        <div>
            <div style="margin-left: 50px; margin-bottom: 5px; display: flex; align-items: center">
                <strong style="margin-right: 10px">Ghi chú: </strong>
                <a-input style="flex: 1; margin-right: 15px" placeholder="Ghi chú..." v-model="note.description" />
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'ItemRow',

        data: {

        },
        created() {

        },
        mounted: function () {
            //this.note = {...this.noteDefault};
        },
        props: ['index', 'note', 'vaccines'],
        methods: {
            showText: function(val) {
                for (var i = 0; i < this.vaccines.length; i++) {
                    if (this.vaccines[i]._id === val){
                        this.note.vaccine_name = this.vaccines[i].name;
                       // console.log(this.vaccines[i].name)
                    }
                }
                return '';
            }
            ,
            filterOption(input, option) {
                return (
                    option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
                );
            },
            delRow() {
                this.$parent.delRow(this.index);
            }
        }
    }
</script>
