<template>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div style="max-height: calc(100vh - 300px); overflow-y: scroll">
                        <div class="row1">
                            <div class="flex1" style="flex-direction: column; flex: 9">
                                <div class="item" style="text-align: left;background-color: rgb(113, 208, 255);"><span style="margin-left: 20px;color:white;font-weight: bold;">Ghi chú</span></div>
                            </div>
                        </div>
                        <div class="row1" v-for="(vaccine, index) in data" :key="vaccine.id" :index="index">
                            <template v-for="pathogen in vaccines" v-if="pathogen._id == vaccine.vaccine_id">
                                <div class="item nameCol bg4 text-center">
                                    {{ pathogen.name }}
                                </div>
                            </template>
                            <div class="flex1">
                                <div class="flex1">
                                    <div class="flex1 item bg3" :style="`background-color: ${vaccine.color}`">
                                        {{ vaccine.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="max-height: calc(100vh - 300px); overflow-y: scroll">
                        <div>
                            <ItemRow v-for="(note, index) in data"
                                     :note="note" :vaccines="vaccines" :index="index"/>
                        </div>
                        <div>
                            <a-button type="primary" @click="addRow()">Thêm 1 hàng</a-button>
                            <span> vào trước hàng </span>
                            <a-input v-model="afterAdd" style="width: 100px"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import ItemRow from './ItemRow.vue';

export default {
    name: 'NoteIndex',
    data: function () {
        return {
            afterAdd: 0
        };
    },
    components: {
        ItemRow
    },
    created() {

    },
    mounted: function () {
        this.afterAdd = this.data.length + 1;
    },
    props: ['data', 'vaccines'],
    methods: {
        filterOption(input, option) {
            return (
                option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
            );
        },
        addRow() {
                this.data.splice(this.afterAdd - 1, 0, {
                    vaccine_id: 'Nhập tên bệnh',
                    vaccine_name:'nhap ten benh',
                    description: '',
                    color:'#fab08b'
                });
                this.afterAdd = this.data.length + 1;
        },
        delRow(index) {
            this.data.splice(index, 1);
            this.afterAdd = this.data.length + 1;
        },
    }
}
</script>
