
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import '~ant-design-vue/dist/antd.min.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.bold {
    font-weight: bold;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.ant-message {
    z-index: 9999;
}

.div-image {
    width: 100%;
    padding-top: 100%;
    background-color: #F1F1F1;
    border-radius: 5px;
    border: 1px solid #F1F1F1;
    position: relative;
    cursor: pointer;
    .show-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        font-size: 50px;
        justify-content: center;
        color: #C0C0C0;
        cursor: pointer;
        .img-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: red;
        }
    }
    .remove-image {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        background: #FFF;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: 0px 0px 5px;
        display: flex;
        transition: opacity .5s;
        opacity: 0;
    }
    &:hover {
        border: 1px dashed #D0D0D0;
        .remove-image {
            opacity: 1;
            transition: opacity .5s;
        }
    }
}
.upload-image {
    width: 200px;
    height: 200px;
    background: #F1F1F1;
    border: 1px dashed #D1D1D1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #B1B1B1;
    position: relative;
}

.upload-image:hover {
    border: 1px dashed #A1A1A1;
    cursor: pointer;
}

.img-upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}
.img-upload img {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    object-fit: cover;
    border-radius: 5px;
}
@import "vaccine/form.scss";
