<template>
    <div class="form-vaccine">
        <form role="form" id="add-update" :action="formAction" method="post" @submit="submit"
              class="card card-primary card-outline card-outline-tabs pl-5 pr-3">
            <input type="hidden" name="_token" :value="csrf_token"/>
            <div class="box box-primary mt-4">
                <div class="box-body">
                    <div v-html="vendor_noti"></div>
                    <div class="form-group col-xs-12">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="">Chọn hình ảnh</label>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <a data-input="image" data-preview="holder"
                                           class="lfm btn btn-primary">
                                            <i class="fa fa-camera"></i>
                                        </a>
                                    </div>
                                    <div v-if="dataVaccine.avatar" style="width: 80%">
                                        <input  id="image" class="form-control" type="text" name="avatar" v-model="dataVaccine.avatar"
                                                value="">
                                    </div>
                                    <div v-else style="width: 80%">
                                        <input  id="image" class="form-control" type="text" name="avatar"
                                                value="">
                                    </div>
                                </div>
                                <div v-if="dataVaccine.avatar" class="image-avatar">
                                    <img :src="dataVaccine.avatar"/>
                                </div>
                                <div v-else class="image-avatar">
                                    <img src=""/>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Tên vắc xin</label>
                                    <input type="text" class="form-control" v-model="dataVaccine.name" ref="name"
                                           name="name" placeholder="Tên vắc xin" value="">
                                </div>
                                <div class="form-group">
                                    <label>Tên viết tắt</label>
                                    <input type="text" class="form-control" v-model="dataVaccine.vaccine_code"
                                           ref="vaccine_code" name="vaccine_code" placeholder="Tên viết tắt" value="">
                                </div>
                                <div class="form-group">
                                    <label>Tên phòng bệnh tương ứng</label>
                                    <a-select mode="multiple" type="text" multi="true" style="width: 100%"
                                              v-model="dataVaccine.pathogen_ids" ref="pathogen_ids" name="pathogen_ids"
                                              placeholder="Tên phòng bệnh tương ứng" value="">
                                        <template v-for="pathogen in pathogens">
                                            <a-select-option :value="pathogen._id">{{ pathogen.name }}</a-select-option>
                                        </template>
                                    </a-select>
                                </div>
                                <div class="form-group">
                                    <label>Nhãn hiệu</label>
                                    <input type="text" class="form-control" v-model="dataVaccine.brand_name"
                                           ref="brand_name" name="brand_name" placeholder="Nhãn hiệu" value="">
                                </div>
                                <div class="form-group">
                                    <label>Miêu tả</label>
                                    <ckeditor :editor="editor" v-model="dataVaccine.fulltext"
                                              @ready="onReady"></ckeditor>
                                </div>
                                <div class="form-group">
                                    <label>Thông tin kê đơn</label>
                                    <ckeditor :editor="editor" v-model="dataVaccine.prescription"
                                              @ready="onReady"></ckeditor>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="label-age">Năm tuổi phù hợp</div>
                        <div class="view-age">
                            <div class="item-age">
                                <template v-for="item, index in listAge">
                                    <div class="item-other-age">
                                        <span>Từ <a-input-number v-model="item.from"/> đến <a-input-number
                                            v-model="item.to"/> tuổi</span>
                                        <a-icon class="remove-item-other-age" type="minus-circle"
                                                @click="removeOtherAge(index)"/>
                                    </div>
                                </template>
                                <a-button class="add-other-age" @click="addAgeSelectOther">Thêm độ tuổi</a-button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="label-age">Tháng tuổi phù hợp</div>
                        <div class="view-age">
                            <div class="item-age">
                                <template v-for="item, index in listMonthAge">
                                    <div class="item-other-age">
                                        <span>Từ <a-input-number v-model="item.from"/> đến <a-input-number
                                            v-model="item.to"/> tháng</span>
                                        <a-icon class="remove-item-other-month-age" type="minus-circle"
                                                @click="removeOtherMonthAge(index)"/>
                                    </div>
                                </template>
                                <a-button class="add-other-age" @click="addMonthAgeSelectOther">Thêm tháng tuổi
                                </a-button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="label-age">Tuần tuổi phù hợp</div>
                        <div class="view-age">
                            <div class="item-age">
                                <template v-for="item, index in listWeekAge">
                                    <div class="item-other-age">
                                        <span>Từ <a-input-number v-model="item.from"/> đến <a-input-number
                                            v-model="item.to"/> tuần</span>
                                        <a-icon class="remove-item-other-week-age" type="minus-circle"
                                                @click="removeOtherWeekAge(index)"/>
                                    </div>
                                </template>
                                <a-button class="add-other-age" @click="addWeekAgeSelectOther">Thêm tuần tuổi</a-button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="label-age">Ngày tuổi phù hợp</div>
                        <div class="view-age">
                            <div class="item-age">
                                <template v-for="item, index in listDayAge">
                                    <div class="item-other-age">
                                        <span>Từ <a-input-number v-model="item.from"/> đến <a-input-number
                                            v-model="item.to"/> ngày</span>
                                        <a-icon class="remove-item-other-day-age" type="minus-circle"
                                                @click="removeOtherDayAge(index)"/>
                                    </div>
                                </template>
                                <a-button class="add-other-age" @click="addDayAgeSelectOther">Thêm ngày tuổi</a-button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="label-turn">Thông tin mũi tiêm</div>
                        <div class="view-turn">
                            <div v-for="(item, index) in listTurn">
                                <div class="item-turn">
                                    <div class="col-md-2 label-item-turn">Mũi tiêm số {{ index + 1 }}</div>
                                    <div class="col-md-8">
                                    <span v-if="index > 0">Sau <a-input-number v-model="item.time"/>
                                        <a-select class="select-time" style="width: 100px" v-model="item.unit">
                                            <a-select-option value="month">tháng</a-select-option>
                                            <a-select-option value="year">năm</a-select-option>
                                        </a-select>
                                        <a-icon class="remove-item-turn" type="minus-circle"
                                                @click="removeTurn(index)"/>
                                    </span>
                                        <span class="label-item-turn" v-if="index == 0">Phụ thuộc vào người tiêm</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="item-turn">
                                <div class="label-item-turn">
                                    <a-button class="add-other-age margin-top-5" @click="addTurn">Thêm mũi tiêm
                                    </a-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="pull-right">
                        <button class="btn btn-primary" type="submit">Lưu</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
import DecoupledEditor from '@ckeditor/ckeditor5-build-decoupled-document';

export default {
    name: 'AddVaccine',
    data: function () {
        return {
            editor: DecoupledEditor,
            editorConfig: {},
            dataVaccine: {
                avatar: dataFromServerSide.dataVaccine.avatar || '',
                name: dataFromServerSide.dataVaccine.name || '',
                vaccine_code: dataFromServerSide.dataVaccine.vaccine_code || '',
                pathogen_ids: dataFromServerSide.dataVaccine.pathogen_ids ? dataFromServerSide.dataVaccine.pathogen_ids.split(',') : [],
                ages: [],
                day_age: [],
                week_age: [],
                month_age: [],
                brand_name: dataFromServerSide.dataVaccine.brand_name || '',
                fulltext: dataFromServerSide.dataVaccine.fulltext ? $('<textarea />').html(dataFromServerSide.dataVaccine.fulltext).text() : '',
                prescription: dataFromServerSide.dataVaccine.prescription ? $('<textarea />').html(dataFromServerSide.dataVaccine.prescription).text() : ''
            },
            uploadingAvatar: false,
            ageSelect05: false,
            ageSelect618: false,
            ageSelect19: false,
            ageSelectOther: false,
            listAge: [],
            listMonthAge: [],
            listWeekAge: [],
            listDayAge: [],
            listTurn: [{time: 0, unit: ''}],
            submiting: false,
            pathogens: this.v(dataFromServerSide, 'pathogens', []),
            csrf_token: this.v(dataFromServerSide, 'csrf_token', ''),
            formAction: this.v(dataFromServerSide, 'formAction', ''),
            vendor_noti: this.v(dataFromServerSide, 'vendor_noti', ''),
        };
    },
    created() {

    },
    mounted: function () {
        let ages = this.v(dataFromServerSide, 'dataVaccine.ages', '');
        ages = ages.split(',').map(function (item) {
            return parseInt(item);
        });
        if (ages.length > 1) {
            let from = ages[0];
            for (let i = 1; i < ages.length; i++) {
                if (!ages[i + 1] || ages[i + 1] !== ages[i] + 1) {
                    this.listAge.push({
                        from,
                        to: ages[i]
                    });
                    if (ages[i + 1]) {
                        from = ages[i + 1];
                    }
                }
            }
        }

        let day_age = this.v(dataFromServerSide, 'dataVaccine.day_age', '');
        day_age = day_age.split(',').map(function (item) {
            return parseInt(item);
        });
        if (day_age.length > 1) {
            let from = day_age[0];
            for (let i = 1; i < day_age.length; i++) {
                if (!day_age[i + 1] || day_age[i + 1] !== day_age[i] + 1) {
                    this.listDayAge.push({
                        from,
                        to: day_age[i]
                    });
                    if (day_age[i + 1]) {
                        from = day_age[i + 1];
                    }
                }
            }
        }

        let week_age = this.v(dataFromServerSide, 'dataVaccine.week_age', '');
        week_age = week_age.split(',').map(function (item) {
            return parseInt(item);
        });
        if (week_age.length > 1) {
            let from = week_age[0];
            for (let i = 1; i < week_age.length; i++) {
                if (!week_age[i + 1] || week_age[i + 1] !== week_age[i] + 1) {
                    this.listWeekAge.push({
                        from,
                        to: week_age[i]
                    });
                    if (week_age[i + 1]) {
                        from = week_age[i + 1];
                    }
                }
            }
        }

        let month_age = this.v(dataFromServerSide, 'dataVaccine.month_age', '');
        month_age = month_age.split(',').map(function (item) {
            return parseInt(item);
        });
        if (month_age.length > 1) {
            let from = month_age[0];
            for (let i = 1; i < month_age.length; i++) {
                if (!month_age[i + 1] || month_age[i + 1] !== month_age[i] + 1) {
                    this.listMonthAge.push({
                        from,
                        to: month_age[i]
                    });
                    if (month_age[i + 1]) {
                        from = month_age[i + 1];
                    }
                }
            }
        }

        for (let i = 2; i <= 10; i++) {
            let time = this.v(dataFromServerSide, `dataVaccine.time_turn_${i - 1}_to_turn_${i}`, '');
            let unit = this.v(dataFromServerSide, `dataVaccine.unit_${i - 1}_${i}`, '');
            if (time && unit) {
                this.listTurn.push({
                    time: Number(time),
                    unit
                })
            }
        }
    },
    methods: {
        onReady(editor) {
            // Insert the toolbar before the editable area.
            editor.ui.getEditableElement().parentElement.insertBefore(
                editor.ui.view.toolbar.element,
                editor.ui.getEditableElement()
            );
        },
        addAgeSelectOther() {
            let from = 0;
            let to = 1;
            if (this.listAge.length > 0) {
                from = this.listAge[this.listAge.length - 1].to;
                to = from + 1;
            }
            this.listAge.push({
                from,
                to
            });
        },
        addDayAgeSelectOther() {
            let from = 0;
            let to = 1;
            if (this.listDayAge.length > 0) {
                from = this.listDayAge[this.listDayAge.length - 1].to;
                to = from + 1;
            }
            this.listDayAge.push({
                from,
                to
            });
        },
        addWeekAgeSelectOther() {
            let from = 0;
            let to = 1;
            if (this.listWeekAge.length > 0) {
                from = this.listWeekAge[this.listWeekAge.length - 1].to;
                to = from + 1;
            }
            this.listWeekAge.push({
                from,
                to
            });
        },
        addMonthAgeSelectOther() {
            let from = 0;
            let to = 1;
            if (this.listMonthAge.length > 0) {
                from = this.listMonthAge[this.listMonthAge.length - 1].to;
                to = from + 1;
            }
            this.listMonthAge.push({
                from,
                to
            });
        },
        addTurn() {
            this.listTurn.push({
                time: 1,
                unit: 'month'
            });
        },
        removeAvatar() {
            this.dataVaccine.avatar = '';
        },
        removeOtherDayAge(index) {
            this.listDayAge.splice(index, 1);
        },
        removeOtherWeekAge(index) {
            this.listWeekAge.splice(index, 1);
        },
        removeOtherMonthAge(index) {
            this.listMonthAge.splice(index, 1);
        },
        removeOtherAge(index) {
            this.listAge.splice(index, 1);
        },
        removeTurn(index) {
            this.listTurn.splice(index, 1);
        },
        async submit(e) {
            e.preventDefault();

            if (!$('#image').val()) {
                Toast.fire({
                    icon: "error",
                    title: "Vui lòng chọn avatar."
                });
                return;
            }
            if (!this.dataVaccine.name) {
                Toast.fire({
                    icon: "error",
                    title: "Tên không được để trống."
                });
                this.$refs.name.focus();
                return;
            }
            if (!this.dataVaccine.pathogen_ids) {
                Toast.fire({
                    icon: "error",
                    title: "Bệnh tương ứng không được để trống."
                });
                this.$refs.pathogen_ids.focus();
                return;
            }
            if (!this.dataVaccine.brand_name) {
                Toast.fire({
                    icon: "error",
                    title: "Nhãn hiệu không được để trống."
                });
                this.$refs.brand_name.focus();
                return;
            }
            if (!this.dataVaccine.fulltext) {
                Toast.fire({
                    icon: "error",
                    title: "Miêu tả không được để trống."
                });
                this.$refs.fulltext.focus();
                return;
            }
            // if (!this.dataVaccine.prescription) {
            //     Toast.fire({
            //         icon: "error",
            //         title: "Thông tin kê đơn không được để trống."
            //     });
            //     this.$refs.fulltext.focus();
            //     return;
            // }
            for (let i = 0; i < this.listAge.length; i++) {
                if (this.listAge[i].from < this.listAge[i].to) {
                    for (let j = this.listAge[i].from; j <= this.listAge[i].to; j++) {
                        if (this.dataVaccine.ages.indexOf(j) == -1) {
                            this.dataVaccine.ages.push(j);
                        }
                    }
                }
            }
            for (let i = 0; i < this.listDayAge.length; i++) {
                if (this.listDayAge[i].from < this.listDayAge[i].to) {
                    for (let j = this.listDayAge[i].from; j <= this.listDayAge[i].to; j++) {
                        if (this.dataVaccine.day_age.indexOf(j) == -1) {
                            this.dataVaccine.day_age.push(j);
                        }
                    }
                }
            }
            for (let i = 0; i < this.listWeekAge.length; i++) {
                if (this.listWeekAge[i].from < this.listWeekAge[i].to) {
                    for (let j = this.listWeekAge[i].from; j <= this.listWeekAge[i].to; j++) {
                        if (this.dataVaccine.week_age.indexOf(j) == -1) {
                            this.dataVaccine.week_age.push(j);
                        }
                    }
                }
            }
            for (let i = 0; i < this.listMonthAge.length; i++) {
                if (this.listMonthAge[i].from < this.listMonthAge[i].to) {
                    for (let j = this.listMonthAge[i].from; j <= this.listMonthAge[i].to; j++) {
                        if (this.dataVaccine.month_age.indexOf(j) == -1) {
                            this.dataVaccine.month_age.push(j);
                        }
                    }
                }
            }
            if (this.dataVaccine.ages.length == 0) {
                Toast.fire({
                    icon: "error",
                    title: "Độ tuổi được để trống."
                });
                return;
            }
            for (let i = 0; i < this.listTurn.length; i++) {
                let muiThu = i + 1;
                if (muiThu > 1) {
                    $('form').append(`<input type="hidden" name="time_turn_${muiThu - 1}_to_turn_${muiThu}" value="${this.listTurn[i].time}" />`);
                    $('form').append(`<input type="hidden" name="unit_${muiThu - 1}_${muiThu}" value="${this.listTurn[i].unit}" />`);
                }
            }
            $('form').append(`<input type="hidden" name="ages" value="${this.dataVaccine.ages}" />`);
            $('form').append(`<input type="hidden" name="day_age" value="${this.dataVaccine.day_age}" />`);
            $('form').append(`<input type="hidden" name="week_age" value="${this.dataVaccine.week_age}" />`);
            $('form').append(`<input type="hidden" name="month_age" value="${this.dataVaccine.month_age}" />`);
            $('form').append(`<input type="hidden" name="pathogen_ids" value="${this.dataVaccine.pathogen_ids}" />`);
            $('form').append(`<input type="hidden" name="fulltext" />`);
            $('form').append(`<input type="hidden" name="prescription" />`);
            $('[name="fulltext"]').val(this.dataVaccine.fulltext);
            $('[name="prescription"]').val(this.dataVaccine.prescription);
            $('form#add-update').submit();

        }
    }
}
</script>
