<style>
.row1 {
    display: flex;
    flex-direction: row;
}

.item {
    border-right: 0.5px solid #fff;
    border-bottom: 0.5px solid #fff;
    align-items: center;
    justify-content: center;
    padding: 5px 2px;
    minheight: 30px;
    width: 100%;
    word-break: break-word;
    text-align: center;
}

.nameCol {
    width: 100px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    display: flex;
}

.bg1 {
    background-color: #a2d471;
}

.flex1 {
    display: flex;
    flex: 1;
}

.center {
    align-items: center;
    justify-content: center;
}

.bg2 {
    background-color: #ffa071;
}

.bg3 {
    background-color: #fab08b;
}

.bg4 {
    background-color: #c5f5a9;
}
</style>
<template>
    <div class="form-vaccine">
        <div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cập nhật thông tin</h3>
                </div>
                <div class="box-body">
                    <div class="form-group col-xs-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#tab_1" class="nav-link active" data-toggle="tab">
                                        Sơ sinh
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab_2" class="nav-link" data-toggle="tab">
                                        Trẻ em
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab_3" class="nav-link" data-toggle="tab">
                                        Thiếu niên
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab_4" class="nav-link" data-toggle="tab">
                                        Người lớn
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab_5" class="nav-link" data-toggle="tab">
                                        Nhóm đặc biệt
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <SoSinh :data="lichTiemAll['SS']" :vaccines="vaccines"/>
                                </div>
                                <div class="tab-pane" id="tab_2">
                                    <TreEm :data="lichTiemAll['TE']" :vaccines="vaccines"/>
                                </div>
                                <div class="tab-pane" id="tab_3">
                                    <ThieuNien :data="lichTiemAll['TN']" :vaccines="vaccines"/>
                                </div>
                                <div class="tab-pane" id="tab_4">
                                    <NguoiLon :data="lichTiemAll['NL']" :vaccines="vaccines"/>
                                </div>
                                <div class="tab-pane" id="tab_5">
                                    <template v-for="(sick, index) in sicks">
                                        <div style="margin-bottom: 15px">
                                            <div>
                                                <a-input
                                                    style="width: 200px; margin-bottom: 5px"
                                                    v-model="sick.name"
                                                    placeholder="Tên bệnh..."/>
                                                <a-icon type="minus-circle"
                                                        @click="delSick(index)"
                                                        style="margin-left: 10px;color: red;font-size: 18px;cursor: pointer;"/>
                                            </div>
                                            <div style="padding-left: 50px">
                                                <template v-for="(condition, index2) in sick.conditions">
                                                    <div>
                                                        <a-input
                                                            style="width: 200px; margin-bottom: 5px"
                                                            v-model="condition.left"
                                                            placeholder="Vắc xin..."
                                                        />
                                                        <a-input
                                                            style="width: 200px; margin-bottom: 5px"
                                                            v-model="condition.right"
                                                            placeholder="Các liều lượng theo ĐKTC..."
                                                        />
                                                        <a-input
                                                            :style="`width: 200px; margin-bottom: 5px; background-color: ${condition.colorRight}`"
                                                            v-model="condition.colorRight"
                                                            placeholder="Màu nền cột phải..."
                                                        />
                                                        <a-icon
                                                            type="minus-circle"
                                                            @click="delCondition(index, index2)"
                                                            style="
                                margin-left: 10px;
                                color: red;
                                font-size: 18px;
                                cursor: pointer;
                              "
                                                        />
                                                    </div>
                                                </template>
                                                <a-button type="primary" @click="addCondition(index)"
                                                >Thêm điều kiện
                                                </a-button
                                                >
                                            </div>
                                        </div>
                                    </template>
                                    <a-button type="primary" @click="addSick">Thêm bệnh</a-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="col-md-12">
                            <a-button type="primary" :loading="saving" @click="saveCalendar"
                            >Lưu lại
                            </a-button
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import SoSinh from "./SoSinh.vue";
import TreEm from "./TreEm.vue";
import ThieuNien from "./ThieuNien.vue";
import NguoiLon from "./NguoiLon.vue";

export default {
    name: "AddVaccine",
    components: {
        SoSinh,
        TreEm,
        ThieuNien,
        NguoiLon,
    },
    data: function () {
        return {
            saving: false,
            vaccines:
                dataFromServerSide.vaccines
                    ? dataFromServerSide.vaccines
                    : [],
            lichTiemAll: dataFromServerSide.calendar.lichTiemAll
                ? dataFromServerSide.calendar.lichTiemAll
                : {
                    SS: [],
                    TE: [],
                    TN: [],
                    NL: [],
                },
            afterAdd: {
                SS: 0,
                TE: 0,
                TN: 0,
                NL: 0,
            },
            sicks: dataFromServerSide.calendar.sicks
                ? dataFromServerSide.calendar.sicks
                : [],
            checkInput: {},
            checkInputVaccineTitle: {},
        };
    },
    created() {
    },
    mounted: function () {
        this.afterAdd["SS"] = this.lichTiemAll["SS"].length + 1;
        this.afterAdd["TE"] = this.lichTiemAll["TE"].length + 1;
        this.afterAdd["TN"] = this.lichTiemAll["TN"].length + 1;
        this.afterAdd["NL"] = this.lichTiemAll["NL"].length + 1;
        this.lichTiemAllData = {...this.lichTiemAll};
        console.log("lichTiemAll", this.vaccines);
        // console.log("lichTiemAll", this.lichTiemAll);
    },
    methods: {
        filterOption(input, option) {
            return (
                option.componentOptions.children[0].text
                    .toLowerCase()
                    .indexOf(input.toLowerCase()) >= 0
            );
        },
        focusVaccineTitle(type, index) {
            this.checkInputVaccineTitle = {type, index};
        },
        focusItemCol(type, index, index2, name) {
            this.checkInput = {type, index, index2, name};
        },
        blurItemCol(e) {
            // if (this.checkInput.type) {
            //     this.lichTiemAll[this.checkInput.type][this.checkInput.index]['data'][this.checkInput.index2][this.checkInput.name] = e.target.value;
            //     this.checkInput = {};
            // }
        },
        blurVaccineTitle(e) {
            // if (this.checkInputVaccineTitle.type) {
            //     this.lichTiemAll[this.checkInputVaccineTitle.type][this.checkInputVaccineTitle.index]['title'] = e.target.value;
            //     this.checkInputVaccineTitle = {};
            // }
        },
        delCol(type, index, index2) {
            this.lichTiemAll[type][index].data.splice(index2, 1);
        },
        addCol(type, index) {
            this.lichTiemAll[type][index].data.push({
                text: "",
                colspan: 1,
                color: "#A2ADB8",
            });
        },
        addRow(type) {
            this.lichTiemAll[type].splice(this.afterAdd[type] - 1, 0, {
                title: "NoName",
                vaccine_id: undefined,
                data: [],
            });
            this.afterAdd[type] = this.lichTiemAll[type].length + 1;
        },
        delRow(type, index) {
            this.lichTiemAll[type].splice(index, 1);
            this.afterAdd[type] = this.lichTiemAll[type].length + 1;
        },
        async saveCalendar() {
            this.saving = true;
            let dataAPI = await this.requestAPIWithoutServer(
                `/api/vaccine_calendar/save`,
                "POST",
                {
                    lichTiemAll: this.lichTiemAll,
                    sicks: this.sicks,
                }
            );
            this.saving = false;
            Toast.fire({
                icon: "success",
                title: "Lưu lịch tiêm thành công."
            });
        },
        addSick() {
            this.sicks.push({
                name: "NoName",
                conditions: [],
            });
        },
        addCondition(index) {
            this.sicks[index].conditions.push({
                left: "",
                right: "",
                colorRight: "",
            });
        },
        delSick(index) {
            this.sicks.splice(index, 1);
        },
        delCondition(index, index2) {
            this.sicks[index].conditions.splice(index2, 1);
        },
    },
};
</script>
