<template>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div style="max-height: calc(100vh - 300px); overflow-y: scroll">
                        <div class="row1">
                            <div class="item nameCol bg1">
                                <div class="text-center">Loại Vaccines</div>
                            </div>
                            <div style="flex: 9">
                                <div class="row1" v-for="(vaccine, index) in data" v-if="index=='0'">
                                    <div class="flex1">
                                        <div class="flex1">
                                            <template v-for="col in vaccine.data">
                                                <div class="flex1" :style="`display: flex; flex: ${col.colspan}`">
                                                    <div class="flex1 item" :style="`background-color: ${col.color}`">
                                                        {{ col.text }}
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                                <div class="row1" v-for="(vaccine, index) in data" v-if="index=='1'">
                                    <div class="flex1">
                                        <div class="flex1">
                                            <template v-for="col in vaccine.data">
                                                <div class="flex1" :style="`display: flex; flex: ${col.colspan}`">
                                                    <div class="flex1 item" :style="`background-color: ${col.color}`">
                                                        {{ col.text }}
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row1" v-for="(vaccine, index) in data" v-if="index > 1" :key="vaccine.id">
                            <div class="item nameCol bg4 text-center">
                                {{ vaccine.title }}
                            </div>
                            <template v-for="col in vaccine.data">
                                <div :style="`display: flex; flex: ${col.colspan}`">
                                    <div class="flex1 item" :style="`background-color: ${col.color}`">
                                        {{ col.text }}
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="max-height: calc(100vh - 300px); overflow-y: scroll">
                        <div style="margin-top: 20px">
                            <TimeTable v-for="(lichTiem, index) in data" v-if="index=='0'" :key="lichTiem.id"
                                       :lichTiem="lichTiem" :vaccines="vaccines" :index="index"/>
                        </div>
                        <div style="margin-top: 20px">
                            <TimeTable v-for="(lichTiem, index) in data" v-if="index=='1'" :key="lichTiem.id"
                                      :lichTiem="lichTiem" :vaccines="vaccines" :index="index"/>
                        </div>
                        <div style="margin-top: 20px">
                            <ItemRow v-for="(lichTiem, index) in data" v-if="index > 1" :key="lichTiem.id" :lichTiem="lichTiem" :vaccines="vaccines" :index="index" />
                        </div>
                        <div>
                            <a-button type="primary" @click="addRow('SS')">Thêm 1 hàng</a-button>
                            <span> vào trước hàng </span>
                            <a-input v-model="afterAdd" style="width: 100px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import ItemRow from './ItemRow.vue';
    import TimeTable from './TimeTable.vue';
    export default {
        name: 'NguoiLon',
        data: function () {
            return {
                afterAdd: 0
            };
        },
        components: {
            ItemRow,
            TimeTable
        },
        created() {

        },
        mounted: function () {
            this.afterAdd = this.data.length + 1;
        },
        props: ['data', 'vaccines'],
        methods: {
            filterOption(input, option) {
                return (
                    option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
                );
            },
            addRow() {
                if (this.afterAdd > 2) {
                    this.data.splice(this.afterAdd - 1, 0, {
                        id: this.makeStr(),
                        title: 'Noname',
                        vaccine_id: undefined,
                        data: [{
                            text: '',
                            colspan: 1,
                            color: '#A2ADB8'
                        }]
                    });
                    this.afterAdd = this.data.length + 1;
                }
                else {
                    Toast.fire({
                        icon: "error",
                        title: "Vui lòng chèn từ hàng thứ 3"
                    });
                }
            },
            delRow(index) {
                this.data.splice(index, 1);
                this.afterAdd = this.data.length+1;
            },
        }
    }
</script>
