<template>
    <div style="margin-bottom: 20px">
        <strong style="margin-right: 10px">Hàng {{ index+1 }}: </strong>
        <a-button type="primary" @click="addCol" style="margin-left: 10px">Thêm cột</a-button>
        <div>
            <template v-for="(column, index2) in lichTiem.data">
                <div style="margin-left: 50px; margin-bottom: 5px">
                    <strong style="margin-right: 10px">Cột {{ index2+1 }}: </strong>
                    <a-input style="width: 100px" placeholder="Nội dung..." v-model="column.text" />
                    <a-input style="width: 100px" placeholder="Số cột..." v-model="column.colspan" />
                    <a-input :style="`width: 100px; background-color: ${column.color}`" placeholder="Màu sắc..." v-model="column.color" />
                    <a-icon type="minus-circle" @click="delCol(index2)" style="margin-left: 10px; color: red; font-size: 18px; cursor: pointer" />
                </div>
            </template>
        </div>
    </div>
</template>
<script>
export default {
    name: 'TimeTable',
    data: function () {
        return {

        };
    },
    created() {

    },
    mounted: function () {
        //this.lichTiem = {...this.lichTiemDefault};
    },
    props: ['index', 'lichTiem', 'vaccines'],
    methods: {
        filterOption(input, option) {
            return (
                option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
            );
        },

        delCol(index) {
            this.lichTiem.data.splice(index, 1);
        },
        addCol() {
            this.lichTiem.data.push({
                text: '',
                colspan: 1,
                color: '#A2ADB8'
            });
        },
        delRow() {
            this.$parent.delRow(this.index);
        }
    }
}
</script>
