.form-vaccine {
    .div-avatar {
        .show-avatar {
            .img-avatar {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .remove-avatar {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 30px;
            height: 30px;
            background: #FFF;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            box-shadow: 0px 0px 5px;
            display: flex;
            transition: opacity .5s;
            opacity: 0;
        }
        &:hover {
            .remove-avatar {
                opacity: 1;
                transition: opacity .5s;
            }
        }
    }

    .label-age, .label-turn {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 5px;
    }
    .view-age, .view-turn {
        padding-left: 20px;
        .item-age {
            padding-left: 15px;
            margin-top: 5px;
            .add-other-age {
                margin-top: 5px;
            }
            .item-other-age {
                margin-top: 5px;
                .remove-item-other-age {
                    font-size: 20px;
                    margin-left: 20px;
                    cursor: pointer;
                    display: none;
                    &:hover {
                        color: $red;
                    }
                }
                &:hover {
                    .remove-item-other-age {
                        display: inline-block;
                    }
                }
            }
        }
        .item-turn {
            margin-bottom: 5px;
            .label-item-turn {
                padding-left: 20px;
                min-height: 32px;
                display: flex;
                align-items: center;
                .select-time {
                    width: 100px;
                }
            }
            .remove-item-turn {
                font-size: 20px;
                margin-left: 20px;
                cursor: pointer;
                display: none;
                &:hover {
                    color: $red;
                }
            }
            &:hover {
                .remove-item-turn {
                    display: inline-block;
                }
            }
        }
    }
}
